html, body {
    height: 100%;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-image {
    display: flex;
    width: 60%;
    margin: auto;
    height: inherit;
    
    
}